.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties
*.apk
output.json

# IntelliJ
*.iml
.idea/
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof
